body {
    background-color: #00b5ad;
    width: 100%;
}
.cont {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.22em;
    background-color: #00b5ad;
    margin-top: -20px !important;
}
p{
    font-size: 1.2em;
    font-weight: 300;
    
}

.image2 {
    border-radius: 20px !important;
}
.image {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
    background-color: rgba(50, 235, 225, 0.3) !important;
    border-radius: 10px !important;
}
.ui.card .meta :last-child, .ui.cards>.card .meta :last-child {
    margin-right: 0 !important;
    font-weight: 400 !important;
    border-radius: 20px !important;
}

.ui.card {
    width: 90% !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px !important;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    width: 200px !important;
    margin-left: 150px;
    width: fit-content;
    
}
.content {
    background-color: teal !important;
}
.ui.card>.content>h1.header, .ui.cards>.card>.content>h1.header {
    background-color: white; 
    color: teal;
    padding: 20px;
    font-weight: 400 !important;
    /* width: ; */
}
.ui.card .meta, .ui.cards>.card .meta {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8) !important;
    padding-top: 10px;
}
.ui.card>.content>.description, .ui.cards>.card>.content>.description {
    clear: both;
    color: rgb(255, 255, 255);
    padding:10px 20px;
   
}
.ui.card>.content, .ui.cards>.card>.content {
    padding: 0 0 20px 0;
}
.ui.red.button, .ui.red.buttons .button {
    -webkit-box-shadow: 0 0 0 1px  teal !important;
    box-shadow: 0 0 0 1px teal !important;
    color: teal !important;
    background-color: #fff !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6) !important;
}

.ui.red.button, .ui.red.buttons .button:active {
    font-size: .8em;
 }
#type {
    color: #fff ;
}
.tops {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    width:-webkit-fill-available
}

#type, #song {
    height: fit-content;
    max-height: 40vh;
    overflow-y: scroll;
    display: flex;
flex-direction: column-reverse;
}
.top {
    top: 0;
    left: 0;
    z-index: 20;
    padding-right: 10px;
    width:50%;

}
.top2  {
    top: 0;
    left: 0;
    z-index: 20;
    padding-right: 10px;
    width:50%;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.ui.card>.extra, .ui.cards>.card>.extra {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #fff !important;
    min-height: 70px !important;
    padding: 1px 0 0 0px !important;
}
.ui.button {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6) !important;
}
.ui.button:active {
   font-size: .8em;
}

#del-btn {
    display: none;
}
@media screen and (max-width: 1105px) {
    .cont {
        padding: 20px ;
    }
  }
@media screen and (max-width: 980px) {
    .cont {
        padding: 20px, 100px ;
    }
  }
  @media screen and (max-width: 690px) {
    .cont {
        padding: 10px ;
    }
  }