body {
    background-color: rgb(254, 254, 254);
}
.cont {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10% 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.22em;
}
p{
    font-size: 1.2em;
    font-weight: 300;
    
}
.image {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
    background-color: rgba(50, 235, 225, 0.6) !important;
}
.ui.card .meta :last-child, .ui.cards>.card .meta :last-child {
    margin-right: 0 !important;
    font-weight: 400 !important;
}

.ui.card {
    width: 90% !important;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    width: 60px !important;
}

#del-btn {
    display: none;
}
@media screen and (max-width: 1105px) {
    .cont {
        padding: 20px ;
    }
  }
@media screen and (max-width: 980px) {
    .cont {
        padding: 100px ;
    }
  }
  @media screen and (max-width: 690px) {
    .cont {
        padding: 10px ;
    }
  }